@import './el-reset.styl'

/****************************
*        字体设置            *
* **************************/
@font-face {
    font-family fzzh
    src url('~font/fangzheng.otf') format('opentype')
}
body
    background-color #ffffff!important

#root-view
    min-width 1264px
    height 100%
    display flex
    flex-direction column
    #root-header
        z-index 999
        width 100%
        min-width 1264px
        &.absolute
            header
                background-color rgba(31,42,55,0.8)
                box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3)
        header
            background-color #192a3f
            height 48px
            padding 0 20px 0 16px
            .logo
                font-size 16px
                color #fff
                font-family fzzh
                img 
                    height 32px
            .has-group
                .el-menu
                    display flex
        .up-right
            width 228px
            display flex
            justify-content flex-end
            > div
                margin-right 12px
            .red-dot
                color white
                background-color #F58F23
                border-radius 50%
                width 22px
                height 22px
                line-height 22px
                text-align center
            .avatar
                width 24px
                height 24px
                border-radius 50%
    #root-main
        flex-grow 1
        &:not(.mg0)
            margin 0 16px 16px 16px
        // min-width 1252px  
    > footer
        height 60px
        background-color black
        color white
        line-height 60px
        padding-left 12px
        text-align center
.el-submenu__icon-arrow
    font-size 6px!important
