@import "partials/var"
// @import "partials/reset" 侵入式太强了，严重影响到 markdown 的样式

$directions = {t: top, r: right, b: bottom, l: left, v: top bottom, h: left right}

/****************************
*        字体大小            *
* **************************/
.fz-0
    font-size 0px
for size in range(12, 24, 2)
    .fz-{size}
        font-size size px

/****************************
*   文字颜色，背景色，边框    *
* **************************/
for $clazz, $color in $colors
	.{$clazz}
		if match('bg', $clazz)
			background-color $color
		else if match('bd', $clazz)
			border(a, $color)
		else
			color $color

/****************************
*   圆角                    *
* **************************/
for $size in range(0, 10, 2)
    .br-{$size}
        border-radius: $size px


/****************************
*        常用间距            *
* **************************/
gap($size)
    if $size
        $suffix = - $size
    else
        $size = 12
        $suffix = ''

    .mg{$suffix}
        margin $size px
    .pd{$suffix}
        padding $size px
    for $d, $dirs in $directions
        .mg{$d}{$suffix}
            for $dir in $dirs
                margin-{$dir} $size px
        .pd{$d}{$suffix}
            for $dir in $dirs
                padding-{$dir} $size px
for $size in range(4, 40, 2)
    gap($size)
gap(0)
/****************************
*           position        *
* **************************/
for $pos in relative absolute fixed
    .{$pos}
        position: $pos


/****************************
*          display          *
* **************************/
for $dis in block inline-block none inline
    .{$dis}
        display: $dis !important

/****************************
*          align            *
* **************************/
.center, .txt-center
    text-align: center

for $dis in right center left
    .txt-{$dis}
        text-align: $dis !important
.center-h
    position: relative
    left: 50%
    transform: translate3d(-50%, 0, 0)
.center-v
    position: relative
    top: 50%
    transform: translate3d(0, -50%, 0)
.middle
    vertical-align middle

/****************************
*          flex            *
* **************************/
.flex
    display flex
    justify-content space-between
    align-items center
    for $flexd in start center end
        &.{$flexd}
            if $flexd == center
                justify-content $flexd
            else
                justify-content flex- + $flexd
/****************************
*          flex            *
* **************************/
.flex-v
    display flex
    flex-direction column
.flex-1
    // flex-grow 1
    flex 1

/****************************
*          radius            *
* **************************/
.radius
    border-radius 4px

.box-shadow
    box-shadow 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04)

/****************************
*       input/select        *
* **************************/
for $size in range(144, 304, 8)
    .iptw-{$size}
        width: ($size px) !important
        .el-input
            width: ($size px) !important